/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
    display: block;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

button{
    border-style: none;
}

/* LAYOUT */


.container{
    max-width: 2048px;
    margin: 0 auto;
    padding: 0 20px;
}


.container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}


.col-3{
    width: calc(3 * 100% / 12);
    
}


/* CARD STYLE */

.card-footer-brand{
    color: rgb(65, 65, 65);
}

.card-footer-title{
    font-size: 14px;
    font-weight: 700;
}

.card-footer-price{
    color: rgb(219, 0, 0);
    font-weight: 700;
}

.old-price{
    color: rgb(65, 65, 65);;
    font-weight: 400;
    text-decoration: line-through;
    
}

.card-header{
    position: relative;
}

.discount-badge{
    position: absolute;
    bottom: 50px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-weight: 700;
}

.sustainability, .last-sustainability{
    position: absolute;
    bottom: 50px;
    left: 60px;
    background-color: green;
    color: white;
    padding: 5px 10px;
    font-weight: 700;
}

.like-button{
    position: absolute;
    background-color: white;
    padding: 8px 12px;
    font-size: 24px;
    top: 15px;
    right: 0;
}

.last-sustainability{
    left: 0px;
    
}



/* DEBUG */


.debug header{
    background-color: red;
    height: 50px;
    margin-bottom: 50px;
}


.debug div[class^="col"]{
    /* width: 300px;
    background-color: rgba(136, 225, 241, 0.685);
    min-height: 300px; */
    border: 2px solid black;
   
}

.debug footer{
    background-color: black;
    height: 50px;
    margin-top: 50px;
}